@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, input {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

header {
  background-color: rgb(42, 171, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}


/* .navbar-container {
  display: flex;
  overflow: hidden;
  background-color: rgb(42, 171, 74);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-container a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-container a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-container input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
 */
