<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>CatchU</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    </head>

    <body>
        <header>
            <nav>
                <img src="https://www.google.com/search?q=CatchU&sxsrf=ALiCzsaI6TG-CaSAyRFDPzQbN7EBmfjaLg:1657928345881&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjX0PmwiPz4AhXcIEQIHV5kD8sQ_AUoAXoECAEQAw&biw=1440&bih=821&dpr=2#imgrc=aexscTnn0Zbs7M">
                <ul class="nav__links">
                    <li><a href="#">Login/Register</a></li>

                </ul>
            </nav>
        </header>

        <div id="main">
            <div id="app"></div>
        </div>
      
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>